{
  "package": "@debari/vite-mfe",
  "name": "cx-settings",
  "type": "micro-frontend",
  "port": "5173",
  "slackChannelNotify": "",
  "metaData": {
    "active": {
      "type": "pathPrefix",
      "pathPrefix": "/settings"
    },
    "devServerUrl": "https://local.commerce.test-godaddy.com:5173/microfrontend.js",
    "devServerPort": 5173
  }
}
